---
// import Nav from "../components/Nav";
import MainLayout from "../layouts/main-layout.astro";
---

<!-- <Nav /> -->
<MainLayout>
	<h1>Hello</h1>
	<a href="/about">Click for about page</a>
</MainLayout>

