---
const { title } = Astro.props;
import Nav from "../components/Nav";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=divice-width, initial-scale=1" />
        <meta
            name="description"
            content="Digital Artist serveices, accessible for everyone"
        />
        <meta title={title} />
    </head>

    <body>
        <main>
            <Nav />
            <slot />
            <!-- All the different pages to be rendered -->
        </main>
    </body>
</html>
